li.liRedes{
    width: 200px;
    height: 200px;
    box-shadow: 5px 5px 5px purple;
    float: left;
    margin: 20px 33px;
    transition: all 1s;
}

li.liRedes:hover{
transform: scale(0.6)
}

a{
    list-style: none;
}
img.imgRedes{
    width: 100%;
    height: 100%;
}