div#main{
    position: relative;
}
li.liRedes{
    width: 200px;
    height: 200px;
    box-shadow: 5px 5px 5px purple;
    float: left;
    margin: 20px 33px;
    transition: all 1s;
}

li.liRedes:hover{
transform: scale(0.6)
}

a, li{
    list-style: none;
}
img.imgRedes{
    width: 100%;
    height: 100%;
}
div#mail{
    width: 75%;
    height: 200px;
    padding: 20px;
    box-shadow: 5px 5px 5px purple;
    position: absolute;
    bottom: 10px;
    left: 10%;
    text-align: center;
    z-index: 10;
}
div#mail h1{
    margin-top: 60px;
}
img#gmal{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
input{
    width: 150px;
    padding: 10px 0px;
    text-align: center;
    background-image: linear-gradient(purple, white, purple);
}